@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,800&family=Ubuntu:wght@300;400,600,700,800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	background: radial-gradient(
		161.81% 143.45% at 23.96% 114.84%,
		#8860cf 0%,
		rgba(81, 182, 255, 0.81) 20.57%,
		rgba(90, 194, 250, 0.88) 35.86%,
		rgba(79, 170, 248, 0.93) 57.63%,
		rgba(127, 186, 252, 0.94) 75.4%,
		rgba(150, 196, 241, 0.93) 92.06%,
		rgba(189, 161, 240, 0.83) 100%
	);
	display: inline-flex;
	min-height: 1024px;
	padding: 130px 403px 131px 427px;
	justify-content: flex-end;
	align-items: center;
}

.main-frame {
	width: 610px;
	height: 763px;
	border-radius: 60px;
	background: radial-gradient(
		150.29% 60.79% at 47.7% 56.42%,
		#64c1f1 0%,
		rgba(112, 198, 242, 0.58) 33.22%,
		rgba(196, 163, 255, 0.49) 77%,
		rgba(205, 234, 248, 0) 100%
	);
	position: relative;
	border-radius: 60px;
	background: radial-gradient(
		150.29% 60.79% at 47.7% 56.42%,
		#64c1f1 0%,
		rgba(112, 198, 242, 0.58) 33.22%,
		rgba(196, 163, 255, 0.49) 77%,
		rgba(205, 234, 248, 0) 100%
	);
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
}

button {
	width: 117px;
	height: 117px;
	flex-shrink: 0;
	border-radius: 50%;
	position: absolute;
	font-family: Nunito Sans, sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: aliceblue;
	cursor: pointer;
	background: rgba(193, 200, 228, 0.49);
	box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(50px);
	opacity: 1;
}

.text_show {
	width: 610px;
	height: 168px;
	flex-shrink: 0;
	position: absolute;
	border-radius: 60px 60px 0px 0px;
	background: rgba(196, 196, 196, 0);
	backdrop-filter: blur(25px);
	box-shadow: 0px -7px 9px -4px rgba(0, 0, 0, 0.25) inset;
	overflow: hidden;
	text-align: left;
	font-family: Nunito Sans, sans-serif;
	font-weight: 300;
	font-size: 700px;
	color: aliceblue;
}

.form {
	padding-top: 23px;
	margin-left: 37px;
	/* margin-top: 50%; */
	text-align: left;
	text-align: start;
	font-family: Nunito Sans, sans-serif;
	font-weight: 300;
	font-size: 120px;
	color: aliceblue;
	position: absolute;
}

.number_1 {
	margin-top: 479px;
	margin-left: 35px;
	margin-right: 458px;
	margin-bottom: 167px;
}

.number_2 {
	margin-left: 176px;
	margin-right: 317px;
	margin-top: 479px;
	margin-bottom: 167px;
}

.number_3 {
	margin-top: 479px;
	margin-left: 317px;
	margin-right: 176px;
	margin-bottom: 167px;
}
.number_4 {
	margin-top: 338px;
	margin-left: 35px;
	margin-right: 458px;
	margin-bottom: 308px;
}

.number_5 {
	margin-top: 338px;
	margin-left: 176px;
	margin-right: 317px;
	margin-bottom: 308px;
}

.number_6 {
	margin-top: 338px;
	margin-left: 317px;
	margin-right: 176px;
	margin-bottom: 308px;
}

.number_7 {
	margin-top: 197px;
	margin-left: 35px;
	margin-right: 458px;
	margin-bottom: 449px;
}

.number_8 {
	margin-top: 197px;
	margin-left: 176px;
	margin-right: 317px;
	margin-bottom: 449px;
}

.number_9 {
	margin-top: 197px;
	margin-left: 317px;
	margin-right: 176px;
	margin-bottom: 449px;
}

.number_0 {
	margin-top: 620px;
	margin-left: 317px;
	margin-bottom: 26px;
	margin-right: 176px;
}

.number_plus {
	margin-top: 197px;
	margin-left: 458px;
	margin-bottom: 449px;
	margin-right: 35px;
	background: rgba(136, 96, 208, 0.85);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	backdrop-filter: blur(25px);
}

.number_minus {
	margin-top: 338px;
	margin-left: 458px;
	margin-bottom: 308px;
	margin-right: 35px;
	background: rgba(136, 96, 208, 0.85);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	backdrop-filter: blur(25px);
}

.number_x {
	margin-top: 479px;
	margin-left: 458px;
	margin-bottom: 167px;
	margin-right: 35px;
	background: rgba(136, 96, 208, 0.85);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	backdrop-filter: blur(25px);
}

.number_divide {
	margin-top: 620px;
	margin-left: 458px;
	margin-bottom: 26px;
	margin-right: 35px;
	background: rgba(136, 96, 208, 0.85);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	backdrop-filter: blur(25px);
}

.number_eqv {
	display: flex;
	width: 260px;
	height: 117px;
	justify-content: center;
	text-align: center;
	border-radius: 60px;
	margin-top: 620px;
	margin-left: 35px;
	margin-bottom: 26px;
	margin-right: 317px;
	background: rgba(136, 96, 208, 0.85);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	backdrop-filter: blur(25px);
	position: relative;
	display: inline-block;
	overflow: hidden;
	/* box-shadow: 0px 0px 20px #8860cf */
}

/* .number_eqv:before {
	content: "";
	width: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #fff;
	opacity: 0.6;
	transform: translate(-4em) skewX(-45deg);
	transition: 0.3s;
	overflow: hidden;
	will-change: transform;
}

.number_eqv:hover::before {
	transform: translate(10em) skewX(-60deg);
} */

.number_eqv:after {
	content: "";
	background: #eadaf3;
	display: block;
	border-radius: 80%;
	position: absolute;
	padding-top: 300%;
	padding-left: 200%;
	margin-left: -100px;
	margin-top: -210%;
	opacity: 0;
	transition: all 0.4s;
	will-change: transition;
}
.number_eqv:active::after {
	padding: 0%;
	margin: 0%;
	opacity: 1;
	transition: 0s;
	will-change: transition;
}
